@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Volkhov&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

.container{
  height: 100vh;
  background-color: #DAE8E1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  height: 85%;
  width: 75%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.input{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: aliceblue;
  overflow-y: scroll;
}

.output{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
  background-color: aliceblue;
  overflow-y: scroll;
}

.input-title{
  margin-top: 30px;
  margin-left: 16%;
  font-family: 'Volkhov', serif;
  font-size: 34px;
}

.output-title{
  margin-top: 30px;
  margin-left: 12%;
  font-family: 'Volkhov', serif;
  font-size: 34px;
}

.playlist-text{
  font-size: 21px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.playlist-text-output{
  font-size: 21px;
  margin-top: 30px;
  margin-left: 30px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.playlist-format{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.text-input{
  display: block;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  margin-right: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-right: 150px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  margin-top: 10px;
  color: black;
  background-color: white;
}

text-input::placeholder{
  overflow: visible;
}

.button-85 {
  margin: 30px;
  height: 50px;
  width: 340px;
  padding: 0.6em 2em;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}